# Composer Related
composer.lock
/vendor

# Frontend Assets
/node_modules

# Logs
npm-debug.log
yarn-error.log

# Caches
.phpunit.cache
.phpunit.result.cache
/build

# IDE Helper
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.phpactor.json
ide.json

# Editors
/.idea
/.fleet
/.vscode
/.codex

# Tool Config
opencode.json

# Misc
phpunit.xml
phpstan.neon
testbench.yaml
/coverage
/website/.docusaurus
