includes:
    - phpstan-baseline.neon

parameters:
    level: 7
    paths:
        - src
        - config
        - database
        - tests
    ignoreErrors:
        -
            message: '#Called .env. outside of the config directory#'
            path: config/checkpoint.php
        -
            message: '#Call to an undefined method Pest\\PendingCalls\\TestCall::expect\(\)\.#'
            path: tests/ArchTest.php
        -
            message: '#Unable to resolve the template type TKey in call to function collect#'
            path: tests/Feature/HighVolumeOperationalFlowsTest.php
        -
            message: '#Unable to resolve the template type TValue in call to function collect#'
            path: tests/Feature/HighVolumeOperationalFlowsTest.php
        -
            message: '#Call to an undefined method Illuminate\\Contracts\\Cache\\Repository::flush\(\)\.#'
            path: tests/Feature/OperationalReportBuilderTest.php
        -
            message: '#Call to an undefined method Illuminate\\Contracts\\Cache\\Repository::lock\(\)\.#'
            path: tests/Feature/ProcessCommandRunJobTest.php
        -
            message: '#Call to an undefined method Illuminate\\Database\\Migrations\\Migration::up\(\)\.#'
            path: tests/Feature/MigrationCoverageTest.php
    tmpDir: build/phpstan
