config.local.yaml
.dbimageBuild/
.ddev-docker-compose-base.yaml
.ddev-docker-compose-full.yaml
.homeadditions/
.webimageBuild/
apache/
commands/
db-build/
db_snapshots/
homeadditions/
mysql/
nginx_full/
php/
providers/
share-providers/
traefik/
web-build/
web-entrypoint.d/
xhprof/
